[Unit]
Description=A service to check how long after boot imds was ready.
DefaultDependencies=no

[Service]
Type=exec
ExecStart=/bin/bash /opt/azure/imds-ready.sh
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=network-pre.target
